<div class="flex h-screen bg-gray-100">
  <!-- Sidebar -->
  <aside class="w-64 bg-gray-50 shadow-sm flex-shrink-0">
    <div class="p-4 h-16 text-lg font-semibold text-gray-800 border-b border-gray-100">
      Inventory System
    </div>

    <nav class="p-4 space-y-1">
      <a
        class="block px-3 py-2 rounded text-gray-700 hover:bg-gray-200 transition"
        routerLink="/dashboard"
      >
        Dashboard
      </a>

      <a
        class="block px-3 py-2 rounded text-gray-700 hover:bg-gray-200 transition"
        routerLink="/users"
      >
        Users
      </a>

      <a
        class="block px-3 py-2 rounded text-gray-700 hover:bg-gray-200 transition"
        routerLink="/items"
      >
        Items
      </a>

      <a
        class="block px-3 py-2 rounded text-gray-700 hover:bg-gray-200 transition"
        routerLink="/sales"
      >
        Sales
      </a>
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="flex-1 flex flex-col bg-white overflow-hidden">
    <!-- Topbar -->
    <header
      class="h-16 flex items-center justify-between px-6 border-b border-gray-100 bg-gray-50 shadow-emerald-200"
    >
      <h1 class="text-lg font-semibold text-gray-800">{{ pageTitle() }}</h1>
      <div class="text-sm text-gray-600">Admin</div>
    </header>

    <section class="flex-1 p-6 overflow-y-auto bg-gray-100">
      <h1>Main contents</h1>
    </section>
  </main>
</div>
